<div>
  <div class="row m-0">
    <div class="col-xs-4 col-sm-12 p-0 m-0">
      <div class="headerContainer">
        <div class="headerContent">
          <div class="companyImage">
          </div>
          <div>
            <p class="schoolName">School name</p>
          </div>
        </div>
        <div class="userCard">
          <div class="headerContent paddingMarginForContent">
            <div class="userImage">
            </div>
            <div class="userContent">
              <p class="userName m-0">Jessica Jhon Jones</p>
              <p class="userDesc m-0">FS1 Acacia</p>
            </div>
          </div>
        </div>
      </div>
      <div class="activeNowCard">
        <p class="text-white m-0">Now Pay your</p>
        <p class="text-white m-0">fee monthly with @</p>
        <button class="activeNowCta" (click)="openModal()">Activate Now</button>
      </div>
    </div>
    <div *ngIf="isOpenModal" class="ownModal">
      <form>
        <div class="modalContainer">
          <img src="assets/cancel.png" class="cancelIcon" (click)="closeModal()">
          <div class="modalContent">
            <div class="position-relative">
              <div>
                <label>phone number</label><br/>
                <input type="text" class="inputClass" [(ngModel)]="phoneNumber"
                       (ngModelChange)="phoneNumberValidation(phoneNumber)" [ngModelOptions]="{standalone: true}">
              </div>
              <div *ngIf="phoneNumberValid">
                <img src="assets/checked.png" class="successImage"/>
              </div>
            </div>
            <div>
              <label>Pan card number</label><br/>
              <input type="text" class="inputClass">
            </div>
            <div>
              <label>Name</label><br/>
              <input type="text" class="inputClass">
            </div>
            <div class="position-relative">
              <label>Email</label><br/>
              <input type="email" class="inputClass" #email="ngModel" ngModel [ngModelOptions]="{standalone: true}"
                     pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
              <div *ngIf="email.valid">
                <div *ngIf="email.value !== ''">
                  <img src="assets/checked.png" class="successImage"/>
                </div>
              </div>
            </div>
          </div>
          <div class="buttonContainer">
            <div class="col-xs-6 col-sm-6">
              <button class="cancelButton" (click)="closeModal()">Cancel</button>
            </div>
            <div class="col-xs-6 col-sm-6">
              <button class="activateButton" (click)="closeModal()">Activate now</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
